* {
    max-width: 1500px;
    margin: 0 auto;
}

.estilo {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    padding: 3rem;
}

.estiloform {
    padding: 3rem;
}

.flex {
    display: flex;
}

.flexforms {
    display: flex;
    justify-content: space-evenly;
}

.table {
    width: 1600px;
}